h1{
    color: crimson;
    font-size:18px;
   }
div{
     font-size: 20px;
     color:black;
     }
.p1{
    background-color: #cfe0e8;
   }
.p2{
    background-color:#b7d7e8;
    }
.p3{
    background-color:#87bdd8;
    }
.p4{
    background-color:#f9ccac;
    }
.p5{
    background-color:#f4ac88;
    }
.p6{
    background-color:coral;
    }
.p7{
    background-color:#bccad6;
    }
.p8{
    background-color:#8d9db6;
    }
.p9{
    background-color:#667292;
    }
.p10{
    background-color:#c6bcb6;
    }
.p11{
    background-color:#968974;
    }
.p12{
    background-color:#d9ad72;
    }
.p13{
    background-color:#a2836e;
    }
.p14{
    background-color:#674d3c;
    }
.p15{
    background-color:#f18973;
    }
.p16{
    background-color:#b65a45;
    }
.p17{
    background-color:#b5e7a0;
    }
.p18{
    background-color:#86af49;
    }
.p19{
    background-color:#a2b9bc;
    }
.p20{
    background-color:#6b5b95;
    }
.one{
    color:#d64161;
    }
.two{
    color:#6b5b95;
    }
.three{
    color:#034f84;
    }
.four{
    color:#50394c;
    }