h1{
    text-align: center;
    color: white ;
    font-size:24px;
    color: #36486b;
}
body{
      background-color: #b7d7e8;
 
}
h2{
    color:#36486b;
    font-size: 20px;
  }
  
h3{
    color:#36486b;
  }

.img{ 

    border-radius:100px;
  }

.bold{
       color: #454140;
       
  }
